.content-space{
    max-width: 1370px;
    margin: auto;
    width: 80%;
}

.nav-link{
    color: rgb(175, 175, 175);
}

.navbar-brand.home-all{
    font-size:12px;
}

.imagen:hover{
    transform:scale(1.1 , 1.1);
    -webkit-transform:scale(1.1 , 1.1);
    -moz-transform:scale(1.1 , 1.1);
    -ms-transform:scale(1.1 , 1.1);
    -o-transform:scale(1.1 , 1.1);
}

.home{
    background: #ebe7de;
}

.cabezera{
    background: #ebe7de;
}

.seccion{
    background: #ebe7de;
}

.categ{
    background: #ebe7de;
}

.f-t-b{
    background: #dfdad4;
}

.rrss{
    font-size:35px;
}