@font-face {
    font-family:themix-light;
    src:url(fuentes/themix-light.otf);
}

@font-face {
    font-family:Reznik;
    src:url(fuentes/Reznik.ttf);
}

.title-search.navbar-dark.bg-dark{
    font-family:themix-light;
}

.home{
    font-family:themix-light;
}

.cabezera{
    font-family:reznik;
}

.seccion{
    font-family:themix-light;
}

.ft.navbar-dark.bg-dark{
    font-family:reznik;
}